# 🛑 MySQL 데이터 폴더 제외
db/data/
db/data/*
db/logs/
db/logs/*
db/conf.d/

# 🛑 Docker 관련 파일 제외
docker-compose.override.yml
*.env
.env

# 🛑 Java 빌드 및 실행 파일 제외
/target/
/bin/
/build/
/out/

# 🛑 Maven 관련 캐시 파일 제외
.mvn/
.mvnw
.mvnw.cmd
pom.xml.tag
pom.xml.releaseBackup
dependency-reduced-pom.xml
release.properties
target/

# 🛑 Gradle 관련 캐시 파일 제외
.gradle/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# 🛑 IDE 및 개발 환경 관련 파일 제외
/.idea/
/.vscode/
/*.iml
/.project
/.classpath
/.settings/
/*.log

# 🛑 운영체제(OS)별 불필요한 파일 제외
.DS_Store
Thumbs.db
*.swp
