HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Docker 관련 무시 파일 ###
docker-compose.override.yml
docker-compose*.yml  # docker-compose 설정 파일 무시
Dockerfile
.dockerignore

### Docker 내부 데이터 저장소 무시 ###
docker/db/data/  # data 폴더 자체 무시
docker/db/logs/  # 로그 폴더 무시
docker/db/temp/  # 임시 폴더 무시

### 컨테이너 환경 변수 파일 무시 ###
.env
.env.local
.env.production
